{% extends "layout.html" %}
{% block body %}
<table class="columns" style="width: 75%" align=center>
    <tr>
        <td>Click one of these to view specific details - {% for entry in envs %}<a href='?env={{entry}}'>{{ entry }}</a> | {% endfor %}<a href='?env='>ALL</td>
    </tr>
</table>
<p/>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<table class="columns" style="width: 60%" align=center>
    {% for h in range(data_h) %}
    <tr>{% for w in range(data_w) %}
        <td align=center>
            <div id="chart_div_{{h}}_{{w}}" style="border: 1px solid #ccc"></div>
        {% endfor %}</td>
    {% endfor %}</tr>
</table>

<script type='text/javascript'>//<![CDATA[

google.load('visualization', '1', {packages: ['corechart']});
google.setOnLoadCallback(drawCharts);

function drawCharts() {

    {% for h in range(data_h) %}
        {% for w in range(data_w) %}
            var data_{{h}}_{{w}} = google.visualization.arrayToDataTable([
                ['h_1', 'h_2'],
                {% for k, v in retdata[h][w].items() %}
                ['{{ k }}', {{ v }}]{% if not loop.last %},{% endif %}
                {% endfor %}
                ]);

            var options = {
                title:'{{title[h][w]}}',
                width:'500',
                height:250,
                pieSliceText:'value',
                is3D: true };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div_{{h}}_{{w}}'));
            chart.draw(data_{{h}}_{{w}}, options);

        {% endfor %}
    {% endfor %}

    }
//]]>

</script>


{% endblock %}
