<!doctype html>
<title>Dashboard</title>
<table class="columns" style="width: 75%" align=center>
    <tr>
        <td align=center>Dashboard</td>
    </tr>
</table>
{% with messages = get_flashed_messages() %}
{% if messages %}
<table class="columns" style="width: 75%" align=center>
    <tr>
        <td><ul class=flashes>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </td>
    </tr>
</table>
{% endif %}
{% endwith %}
{% block body %}{% endblock %}
